{% extends 'base.html' %}

{% block title%} My Blog{% endblock %}

{% block content %}

<!--<header class="am-g am-g-fixed blog-fixed blog-text-center blog-header">-->
    <!--<div class="am-u-sm-8 am-u-sm-centered">-->
        <!--<img width="200" src="http://s.amazeui.org/media/i/brand/amazeui-b.png" alt="Amaze UI Logo"/>-->
        <!--<h2 class="am-hide-sm-only">中国首个开源 HTML5 跨屏前端框架</h2>-->
    <!--</div>-->
<!--</header>-->
<hr>

{% include 'nav.html' %}

{% include 'banner.html' %}


<!-- content srart -->
<div class="am-g am-g-fixed blog-fixed">
    <div class="am-u-md-12 am-u-sm-12">

        {% for blog in blogs %}
        <article class="am-g blog-entry-article">
            <div class="am-u-lg-6 am-u-md-12 am-u-sm-12 blog-entry-img">
                <img src="/static/i/f10.jpg" alt="" class="am-u-sm-12">
            </div>
            <div class="am-u-lg-6 am-u-md-12 am-u-sm-12 blog-entry-text">
                <span><a href="" class="blog-color">article &nbsp;</a></span>
                <span> {{ blog.user_name}} &nbsp;</span>
                <span>{{ blog.created_at}}</span>
                <h1><a href="/blog/{{ blog.id }}">{{ blog.name }}</a></h1>
                <p>我们一直在坚持着，不是为了改变这个世界，而是希望不被这个世界所改变。
                </p>
                <p><a href="" class="blog-continue">continue reading</a></p>
            </div>
        </article>
        {% endfor %}



        
        <ul class="am-pagination">
  <li class="am-pagination-prev"><a href="">&laquo; Prev</a></li>
  <li class="am-pagination-next"><a href="">Next &raquo;</a></li>
</ul>
    </div>

</div>
<!-- content end -->
{% endblock %}