{% extends 'admin/base.html' %}

{% block content %}
        <div id="loading" class="uk-width-1-1 uk-text-center uk-margin-bottom">
            <span><i class="uk-icon-spinner uk-icon-medium uk-icon-spin"></i> 正在加载...</span>
        </div>
        <form id="update-blog" v-on="submit : submit" >     
        <input v-model="name" name="name" type="text">
        <input v-model="summary" name="summary" type="text" >
        <textarea v-model="content" rows="16" name="content" style="resize:none;"></textarea> 
        <div>
            <br/><button type="submit" class="btn" style="margin-left: 5%;"> 保存</button>
            <a href="/admin" class="uk-button"><i class="uk-icon-times"></i> 取消</a>
        </div>
        </form>
{% endblock %}      

{% block script %}
        <script src="/static/js/jquery.min.js"></script>
        <script src="/static/js/awesome.js"></script>
        <script src="/static/js/vue.min.js"></script>
        <script>
            var
                ID = '{{ id }}',
                action = '{{ action }}';

            function initVM(blog) {
                var vm = new Vue({
                    el: '#update-blog',
                    data: blog,
                    methods: {
                        submit: function (event) {
                            event.preventDefault();
                            var $form = $('#update-blog').find('form');
                            $form.postJSON(action, this.$data, function (err, r) {
                                if (err) {
                                    $form.showFormError(err);
                                }
                                else {
                                    return location.assign('/api/blogs/' + r.id);
                                }
                            });
                        }
                    }
                });
                $('#update-blog').show();
            }

            $(function () {
                if (ID) {
                    getJSON('/api/blogs/' + ID, function (err, blog) {
                        if (err) {
                            return fatal(err);
                        }
                        $('#loading').hide();
                        initVM(blog);
                    });
                }
                else {
                    $('#loading').hide();
                    initVM({
                        name: '',
                        summary: '',
                        content: ''
                    });
                }
            });


        </script>
{% endblock %}
